<p>Hey <%= "#{@user.first_name} #{@user.last_name},"%></p>

<p>Your account has been Blocked.</p>

<p>Please contact to CHOC Administrator.</p>

<p>PLEASE DO NOT REPLY TO THIS MESSAGE.</p>

<p>Yours Sincerely,<br>
  CHOC Team</p>