<p>Hey <%= "#{@email},"%></p>

<p>Welcome to CHOC!</p>

<p>Are you ready to become Admin for CHOC?</p>
<p><%= link_to 'Go and Sign up', root_url.chop+new_user_registration_path %> </p>

<p>PLEASE DO NOT REPLY TO THIS MESSAGE.</p>

<p>Yours Sincerely,<br>
  CHOC Team</p>