<p>Hey <%= "#{@user.first_name} #{@user.last_name},"%></p>

<p>Welcome to CHOC!</p>

<p>You are now chosen as Admin for CHOC.</p>
<p><%= link_to 'Go and Sign in', root_url %> </p>

<p>PLEASE DO NOT REPLY TO THIS MESSAGE.</p>

<p>Yours Sincerely,<br>
  CHOC Team</p>