<p>Hey <%= "#{@email} ,"%> </p>

<p>Welcome to CHOC!</p>

<p>Requested form details are attached with this mail in PDF format.</p>

<p>PLEASE DO NOT REPLY TO THIS MESSAGE.</p>

<p>Yours Sincerely,<br>
  CHOC Team</p>