<p>Welcome <%= @email %>!</p>

<p>Welcome to CHOC!</p>

<p>Are you ready to become Admin for CHOC?</p>


<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Yours Sincerely,<br>
  CHOC Team</p>